/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@font-face {
  font-family: 'MADEOuterSansThin';
  src: url('/fonts/MADE Outer Sans Thin PERSONAL USE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');



body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 4rem;
}

header p {
  font-size: 1rem;
}

h1{
  font-family: 'MADEOuterSansThin', sans-serif;
  font-size: 2rem;
}

h2{
  font-weight: 400;
}

p{
  line-height: 1.5;
}

hr {
  border: 1px solid #dfdfdf; /* Set the border style and color */
  margin: 30px 0; /* Add top and bottom margins to control spacing */

}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd; /* Example color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container.single-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.button:hover {
  background-color: #c07c00;
}

.button:active {
  background-color: #a76600;
}

.button .icon {
  fill: white; /* SVG color */
  width: 24px; /* SVG width */
  height: 24px; /* SVG height */
}

.button next{
  justify-content: flex-end;
}

.confirm-booking-button {
  background-color: #d89300; /* A warm, inviting color */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.confirm-booking-button:hover {
  background-color: #c07c00; /* Slightly darker green for hover */
}

.confirm-booking-button:active {
  background-color: #a76600; /* Even darker for click */
  transform: translateY(2px); /* Slight push down effect */
}
