header {
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top of the page */
  left: 50%; /* Align to the center of the page horizontally */
  transform: translateX(-50%); /* Center the element */
  width: 100%; /* Full width */
  max-width: 1920px; /* Maximum width */
  z-index: 999; /* Ensure it's above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px; /* Combined padding shorthand */
  background-color: #fff;
  color: #fff; /* Adjust if needed for visibility */
  box-sizing: border-box; /* Include padding and border in the width and height */
}


  .logo img {
    max-height: 50px; /* Adjust the height as needed */
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
  }
  
  /* Header.css */

/* Add styles for the Book Now button */
.book-now {
  margin-left: 10px; /* Adjust the margin as needed */
  /* Add any additional styling properties */
}

/* Add styles to make the button visually appealing */
.book-now a {
  padding: 15px 25px;
  background-color: #d89300; /* Example color, you can change it */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.book-now a:hover {
  background-color: #c07c00;
}

.book-now a:active {
  background-color: #a76600;
}

.logo-image {
  width: 75px;
  height: auto;
}
