.checkout-container {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 100px;
  margin-bottom: 100px;
}

.payment-summary table {
  width: 100%;
}

.expiration-cvv {
  display: flex;
  justify-content: space-between;
}

.expiration-cvv label {
  flex: 1; /* Each child (label) takes up equal space */
  margin-right: 10px; /* Spacing between children */
}

.expiration-cvv label:last-child {
  margin-right: 0; /* Remove margin for the last child */
}

@media (max-width: 768px) {
  .expiration-cvv label {
    margin-right: 0; /* Remove margin for all children */
    margin-bottom: 10px; /* Add bottom margin for stacking */
  }

  .expiration-cvv {
    flex-direction: column; /* Stack the children vertically */
  }
}


.payment-summary, .payment-method, .card-details {
  margin-bottom: 20px;
}

.payment-summary h3 {
  margin-top: 0;
  color: #333;
}

.payment-summary p {
  margin: 5px 0;
  color: #555;
}



.payment-summary td {
  padding: 8px;
  border: 1px solid #ddd;
}


.card-details {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9; /* Slight background color for distinction */
}

.card-details label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px; /* Adjust label font size */
  color: #333; /* Label text color */
}

.card-details input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Adjust input font size for better readability */
}

.expiration-cvv {
  display: flex;
  justify-content: space-between;
}

.expiration-cvv div {
  flex: 1; /* Each child takes up equal space */
  margin-right: 10px; /* Spacing between children */
}

.expiration-cvv div:last-child {
  margin-right: 0; /* Remove margin for the last child */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .expiration-cvv div {
    margin-right: 0; /* Remove margin for all children */
    margin-bottom: 10px; /* Add bottom margin for stacking */
  }

  .expiration-cvv {
    flex-direction: column; /* Stack the children vertically */
  }
}

.radio-button-group {
  display: flex;
  margin-bottom: 20px;
}

.radio-button {
  display: none; /* Hide the default radio button */
}

.radio-label {
  background-color: #f2f2f2;
  color: #333;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.radio-label:hover {
  background-color: #FFEEDD;
  border-color: #d89300;
}

.radio-button:checked + .radio-label {
  border-color: #d89300;
  background-color: #FFEEDD;
}

.checkout-btn{
  background-color: #d89300; /* A warm, inviting color */
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.checkout-btn:hover {
  background-color: #c07c00; /* Slightly darker green for hover */
}

.checkout-btn:active {
  background-color: #a76600; /* Even darker for click */
  transform: translateY(2px); /* Slight push down effect */
}

.checkout-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns content to the bottom */
  align-items: flex-end;   /* Aligns content to the right */
}
