.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.booking-details-popup {
  background-color: #fff; /* Set a light background color */
  border-radius: 8px; /* Add rounded corners for a modern look */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  padding: 40px; /* Add padding for content */
  z-index: 1001;
  position: relative;
  overflow: auto; /* Enable scrolling for content if needed */
  width: 375px;
}

.popup-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.popup-container.popup-open .popup-backdrop {
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background when popup is open */
}



.btn-clean {
  background-color: #adadad; /* Green */
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;;
}



.input-damage {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.products-scrollbox {
  max-height: 200px;
  overflow-y: auto;
  border: none;
  margin-top: 10px;
  padding-right: 10px;
  margin-bottom: 20px;

  /* Custom scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1; /* Scrollbar thumb and track */
}

/* Styles for Webkit browsers like Chrome, Safari */
.products-scrollbox::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.products-scrollbox::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.products-scrollbox::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.products-scrollbox::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}


.products-flexbox {
  display: flex;
  flex-direction: column; /* Change to column to stack vertically */
  gap: 10px; /* Space between items */
}

.product-item {
  display: flex;
  justify-content: space-between; /* Align items to the start and end of the container */
  align-items: center; /* Center items vertically */
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 3px 15px;
  border-radius: 5px;
}

.product-name, .product-quantity {
  flex-basis: 50%; /* Allocate equal width */
}

.product-quantity-input {
  width: 30px; /* Adjust as needed */
  height: 25px; /* Height of the input field */
  padding: 2px 5px; /* Padding inside the input field */
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* Background color */
  font-size: 14px; /* Text size */
  color: #333; /* Text color */
  text-align: center; /* Center the text */
  transition: border-color 0.2s ease-in-out;
}

.product-quantity-input:hover {
  border-color: #999; /* Darker border on hover */
}

/* Optional: Remove the spin buttons */
.product-quantity-input::-webkit-inner-spin-button,
.product-quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.btn-clean.cleaned {
  background-color: #4CAF50; /* Optionally change color for cleaned state */
  /* Additional styles for 'cleaned' state */
}

.clean-damage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
  gap: 15px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.action-buttons button {
  margin-left: 10px; /* Space between buttons */
}

.btn-close{
  background-color: #dadada;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-confirm {
  background-color: #008CBA;
  color: white !important;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
}

.btn-confirm:hover {
  background-color: #007B9E; /* Slightly darker blue on hover */
}

.btn-confirm:hover, .btn-confirm:active {
  text-decoration: none; /* Removes underline on hover/active */
  /* Add other hover styles here */
}

.service-code-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.service-code-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}