.container {
  max-width: 800px;
  margin: 20px auto; /* Adds 20px margin to the top and bottom */
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-booking-wrapper {
  margin-top: 100px; /* Adjust this value as needed */
  margin-bottom: 100px;
}

h1{
  font-family: 'MADEOuterSansThin', sans-serif;
  font-size: 2rem;
}